html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    overflow-x: hidden;
    overflow-wrap: break-word;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}


a {
    text-decoration: none;
}

.wrapper {
    background-color: #fff;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    max-width: 100%;
    height: inherit;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.container {
    margin: 0 auto;
    width: 80%;
}

.head {
    margin: 20px 0;
    font-weight:bold;
}

.btn {
    margin-top: 50px;
    padding: 16px 60px;
    color: white;
    border-radius: 3px;
    border: 1px solid rgb(212, 81, 245);
    background-color: rgb(212, 81, 245);
    font-size: 16px;
}

.btn:hover{
    cursor: pointer;
    border: 1px solid rgb(223, 145, 242);
    background-color: rgb(223, 145, 242);
}

.WhatIdo {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.information {
    text-align: center;
    margin-bottom: 20px;
}

.contact {
    width: 100%;
}

.contacttext {
    
    margin: 10px;
}

.contact_form {
    text-align: center;
    padding-bottom: 50px;
}

.form-control {
    width: 100%;
}

@media screen and (max-width: 3000px) {

 
    .headWrap {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .left {
        display: flex;
    }
    
    .right {
        display: flex;
    }
    
    .link {
        color: rgb(212, 81, 245);
    }
    
    .link:hover {
        color: rgb(223, 145, 242);
    }
    
    
    .middleWrap {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-flow: column;
    }
    
    .midTop {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
    }
    
    .midLeft {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        border: 1px solid #333;
        margin: 5px;
    }
    
    .midLeft:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    
    .text {
        color: #333;
    }
    
    .about {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    
    .photo {
        width: 45%;
    }
    
    .img {
        width: 90%;
        border-radius: 90px;
    }
    
    .description {
        width: 45%;
    }
    
    .abouttext {
        margin-top: 18px;
        line-height: 30px;
    }
    
    .title {
        width: 100%;
        text-align: center;
        font-size: large;
        padding: 16px;
        font-weight: bold;
    }
    
    .titleA {
        color: #333;
        font-size: large;
        font-weight: bold;
    }
    
    table {
        margin: 0 auto;
        width: 70%;
    }
    
    tr {
        display: flex;
    }
    
    th, td {
        padding: 10px;
        width: 100%;
    }
    
    .description {
        text-align: center;
    }
    
    .nav {
        display: flex;
        justify-content: flex-end;
    }
    
    li {
        margin: 10px;
    }
    .i {
        display: none;
    }
}

@media screen and (max-width: 541px) {
    .i {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
    }

    i {
        font-family:  "Font Awesome 5 Free";
        font-weight:  900;
        content:  "\f521";
        color: #333;
    }
    .left {
        display: none;
    }

    .midLeft {
        display: block;
    }

    .time {
        font-size: small;
    }
    .midTop {
        display: none;
    }
    .about {
        display: block;
    }

    .photo {
        width: 100%;
    }

    .description {
        width: 100%;
    }
}
.conduct {
    font-size: large;
}

