html, body {
    padding: 0;
    margin: 0;
}
  
body {
    font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    overflow-x: hidden;
    overflow-wrap: break-word;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}


a {
    text-decoration: none;
    color: rgb(203, 83, 240);
}
a:hover {
    color:rgb(221, 141, 245);
}

.wrapper {
    background-color: #fff;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    max-width: 100%;
    height: inherit;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.container {
    margin: 0 auto;
    width: 80%;
}

.head {
    margin: 20px 0;
    font-weight:bold;
}

.headWrap {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
}

.right {
    display: flex;
}

.middleWrap {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-flow: column;
}

.midTop {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.midLeft {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #333;
    margin: 5px;
}

.midLeft:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.text {
    color: #333;
}

.about {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.photo {
    width: 45%;
}

.img {
    width: 90%;
    border-radius: 90px;
}

.description {
    width: 45%;
}

.abouttext {
    margin-top: 18px;
    line-height: 30px;
}

.title {
    text-align: center;
    font-size: large;
    padding: 16px;
    font-weight: bold;
}

table {
    margin: 0 auto;
    width: 70%;
}

tr {
    display: flex;
}

th, td {
    padding: 10px;
    width: 100%;
}

.description {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 10px;
    
}